/* Insert.css — version finale */

/* GLOBAL */
.insert-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
}

.mode-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-full {
  width: 100%;
  margin-top: 15px;
}

.input-large {
  width: 100%;
  margin-bottom: 15px;
}

/* AUTO SECTION */
.auto-section {
  background: #fafafa;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/* MANUAL SECTION */
.manual-section {
  flex-direction: column;
  background: #fafafa;
  gap: 20px;
  border-radius: 10px;
  width: 100%;
}

.manual-grid {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.input-manuel{
  width: 45%;
}
/* STATUS */
.status-message {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px){
  /* MANUAL SECTION */

  .manual-grid {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    width: 100%;
  }
  .input-manuel{
    width: 100%;
  }
}