 

/* Choisis ta police principale */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;  
  color: #111827;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
 
a {
  text-decoration: none;
  color: #000000;
}
 


.flex {
    display: flex;
}

.border {
    border: 1px solid green;
}



/* ---------------- APP --------------------*/
.nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(214, 238, 255);
    padding: 0px 50px;
}

.nav-logo{
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.nav-options{
    gap: 30px;
    align-items: center; 
}

.nav-option:hover{
    text-decoration: underline;
}

.nav-option-acceuil{
    transition: all 0.5s;
}


.nav-option-acceuil:hover{
    scale: 2;
}

.pages{
    padding: 0px 50px;
}
@media (max-width: 768px) {
    .nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid rgb(214, 238, 255);
        padding: 0px 10px;
    }
    .pages{
        padding: 0px 10px;
    }
    .nav-logo{
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    .nav-options{
        display: none;
    }
}